<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      >
    <h:head>
    	<h:outputStylesheet library="css" name="table-style.css"  />
    </h:head>
 
    <h:body>
 
    	<h1>JSF 2.0 + Spring + Hibernate Example</h1>
 
 		<h:dataTable value="#{user.getUserList()}" var="c"
    			styleClass="order-table"
    			headerClass="order-table-header"
    			rowClasses="order-table-odd-row,order-table-even-row"
    		>
 
    		<h:column>
    			<f:facet name="header">
    				User ID
    			</f:facet>
    				#{c.userId}
    		</h:column>
 
    		<h:column>
    			<f:facet name="header">
    				Name
				</f:facet>
    				#{c.name}
    		</h:column>
 
 			<h:column>
    			<f:facet name="header">
    				Moves
				</f:facet>
    				#{c.moves}
    		</h:column>

    		
    	</h:dataTable>
 		
 		<h2>Add New User</h2>


 		<h:form>
 			
 			<h:panelGrid columns="3">
			
				Name : 
				<h:inputText id="name" value="#{user.name}"
					size="20" required="true"
					label="Name" >
				</h:inputText>
					
				<h:message for="name" style="color:#2721ff" />
			
				Address : 
				<h:inputTextarea id="move" value="#{user.moves}"
					cols="30" rows="10" required="true"
					label="Moves" >
				</h:inputTextarea>
					
				<h:message for="move" style="color:#242dff" />
				
			</h:panelGrid>
			
			<h:commandButton value="Submit" action="#{user.addUser()}" />

 		</h:form>
 		
    </h:body>
 
</html>