<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
        >

<h:body>

    <ui:composition template="/template/common/commonLayout.xhtml">

        <ui:define name="header">
            <h1>Наши герои</h1>
        </ui:define>

        <ui:define name="content">
            <div style="height:200px;overflow-x:auto;overflow-y:scroll;">
                 <h:dataTable value="#{user.getUserList()}" var="c"
                              styleClass="order-table"
                              headerClass="order-table-header"
                              rowClasses="order-table-odd-row,order-table-even-row"
                         >

                     <h:column>
                         <f:facet name="header">
                             User ID
                         </f:facet>
                         #{c.userId}
                     </h:column>

                     <h:column>
                         <f:facet name="header">
                             Name
                         </f:facet>
                         #{c.name}
                     </h:column>

                     <h:column>
                         <f:facet name="header">
                             Moves
                         </f:facet>
                         #{c.moves}
                     </h:column>


                 </h:dataTable>
               </div>
        </ui:define>



    </ui:composition>

</h:body>

</html>
